$space-tiny: 1.5rem;
$about-title-color: mediumspringgreen;
$main-title-color: #555;

.page-title {
    color: $main-title-color;
    margin-top: 6.5rem;
    margin-bottom: $space-tiny;
}

.about-page-title {
    color: $about-title-color;
    margin-top: 2.5rem;
    margin-bottom: $space-tiny;
}

input[type=search] {
    box-shadow: none;
}